<form #form="ngForm" fxLayout="column" fxLayoutAlign="start center" >
  <div class="flex-container"  fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div *ngIf="!loading && brotherList && brotherList.length>0 && !edit">
        <mat-form-field fxFlex class="brother-autocomplete">
          <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="brother" (ngModelChange)="filterBrother($event)" [value]="(brother && brother.name && brother.surname ? brother.name + ' '+brother.surname: '')" name="brother" placeholder="Seleziona fratello">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete"  name="brotherAutocomplete" placeholder="Seleziona fratello">
           <mat-option (onSelectionChange)="newElder(b)" *ngFor="let b of brotherListFiltered" [value]="b">
              {{b.surname}} {{b.name}}
           </mat-option>
        </mat-autocomplete>
      </div>
      <div *ngIf="!loading && brotherList && brotherList.length == 0 && !edit">
        Nessun fratello da aggiungere
      </div>
      <div *ngIf="brother && edit" fxFlex>
        <h3>{{brother.name}} {{brother.surname}}</h3>
      </div>

      <div class="flex-container"  fxLayout="column" fxLayoutAlign="start center" *ngIf="brother && brother.elder" fxLayoutGap="20px">
        
        <div fxLayout="column" fxLayoutAlign="start center">
          <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.serviceOverseer" name="serviceOverseer" >
                  Sorvegliante del servizio
          </mat-checkbox>
          <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.schoolOverseer" name="schoolOverseer" >
                  Sorvegliante Adunanza Vita Cristiana
          </mat-checkbox>
        </div>

        <div class="separator"></div>
        
        
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.presidentEnabled" name="presidentEnabled" >
                    Presidente
            </mat-checkbox>
            <div *ngIf="brother.elder.presidentEnabled">
              <mat-form-field fxFlex  >
                <input matInput [matDatepicker]="datePresident" [(ngModel)]="brother.elder.presidentDate" name="president" placeholder="Ultima data">
                <mat-datepicker-toggle matSuffix [for]="datePresident"></mat-datepicker-toggle>
              </mat-form-field>
              <mat-datepicker #datePresident></mat-datepicker>
            </div>
          </div>
        <div class="separator"></div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.bibleStudyEnabled" name="bibleStudyEnabled" >
                  Studio biblico di congregazione
          </mat-checkbox>
            <div *ngIf="brother.elder.bibleStudyEnabled">
              <mat-form-field fxFlex  >
                <input matInput [matDatepicker]="dateBibleStudy" [(ngModel)]="brother.elder.bibleStudyDate" name="bibleStudy" placeholder="Ultima data">
                <mat-datepicker-toggle matSuffix [for]="dateBibleStudy"></mat-datepicker-toggle>
              </mat-form-field>
              <mat-datepicker #dateBibleStudy></mat-datepicker>
            </div>
        </div>
        <div class="separator"></div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.christianLivingPartEnabled" name="christianLivingPartEnabled" >
                  Parti Vita Cristiana
              </mat-checkbox>
          <div *ngIf="brother.elder.christianLivingPartEnabled">
            <mat-form-field fxFlex >
              <input matInput [matDatepicker]="dateChristianLivingPart" [(ngModel)]="brother.elder.christianLivingPartDate" name="christianLivingPartDate"  placeholder="Ultima data">
              <mat-datepicker-toggle matSuffix [for]="dateChristianLivingPart"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #dateChristianLivingPart></mat-datepicker>
          </div>
        </div>
        <div class="separator"></div>


        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.talkEnabled" name="talkEnabled" >
                  Discorso Tesori
              </mat-checkbox>
          <div *ngIf="brother.elder.talkEnabled">
            <mat-form-field fxFlex >
              <input matInput [matDatepicker]="dateTalk" [(ngModel)]="brother.elder.talkDate" name="talk"  placeholder="Ultima data">
              <mat-datepicker-toggle matSuffix [for]="dateTalk"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #dateTalk></mat-datepicker>
          </div>
        </div>
        <div class="separator"></div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-checkbox color="primary" fxFlex [(ngModel)]="brother.elder.gemsEnabled" name="gemsEnabled" >
                  Gemme spirituali
              </mat-checkbox>
          <div *ngIf="brother.elder.gemsEnabled">
            <mat-form-field fxFlex >
              <input matInput [matDatepicker]="dateGems" [(ngModel)]="brother.elder.gemsDate" name="gems" placeholder="Ultima data">
              <mat-datepicker-toggle matSuffix [for]="dateGems"></mat-datepicker-toggle>
              <mat-datepicker #dateGems></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="separator"></div>

      </div>

        <div class="flex-container"  fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="start" fxLayoutGap="20px">
          <button fxLayoutAlign="center center" color="accent" fxLayout="column" mat-raised-button
                (click)="dialogRef.close()">Annulla</button>
            <button fxLayoutAlign="center center" *ngIf="edit || (!edit && brotherList && brotherList.length > 0)" fxLayout="column" mat-raised-button [disabled]="!form.form.valid" color="primary"
              (click)="dialogRef.close(brother)">Salva</button>

        </div>
  </div>
</form>