<div *ngIf="!loading">
  <mat-tab-group>
    <mat-tab *ngIf="!week.completed && (user.role==USER_ROLE.SCHOOL_OVERSEER || user.role==USER_ROLE.PRESIDENT)">
      <ng-template md-tab-label>
        AGGIORNAMENTO PARTI
      </ng-template>
      <week-update fromHome="false" [week]="week"></week-update>
    </mat-tab>
    <mat-tab>
      <ng-template md-tab-label>
        DETTAGLIO
      </ng-template>
      <week [edit]="false" [week]="week"></week>
    </mat-tab>
  </mat-tab-group>



</div>
<loader *ngIf="loading"></loader>
