<div *ngIf="!loading">
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
    <button mat-icon-button (click)="back()"><i class="material-icons">arrow_back</i></button>
    <h2>Adunanza {{week && week.date.format('D MMMM YYYY')}}</h2>
  </div>
  <mat-tab-group>
    <mat-tab *ngIf="!week.completed && (user.role==USER_ROLE.SCHOOL_OVERSEER || user.role==USER_ROLE.PRESIDENT)">
      <ng-template mat-tab-label>
        AGGIORNAMENTO PARTI
      </ng-template>
      <week-update fromHome="false" [week]="week"></week-update>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        DETTAGLIO
      </ng-template>
      <week [edit]="false" [week]="week"></week>
    </mat-tab>
  </mat-tab-group>



</div>
<loader *ngIf="loading"></loader>
