<div id="regionSiteLogo">
    <div class="wrapper">
        <div class="wrapperShadow">
            <div id="siteLogoPrint" aria-hidden="true">
                <img src="assets/images/jw-meeting-logo-256x256.png"></div>
            <a href="/it/" id="siteLogo" aria-hidden="true"></a>
        </div>
    </div>
</div>
<!--<div id="regionHeader">-->
    <!--<div>-->
        <!--<div>-->
            <!--<h2 id="siteName">JW Meeting</h2>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div id="regionPrimaryNav">
    <div>
        <div>
            <div id="primaryNav">
                <nav role="navigation">

                </nav>
            </div>
        </div>
    </div>
</div>
