
<div class="bg">

</div>
<div>
  <div id="regionSiteLogo">
    <div class="wrapper">
      <div class="wrapperShadow">
        <div id="siteLogoPrint" aria-hidden="true">
          <img src="assets/images/jw-meeting-logo-256x256.png"></div>
        <a href="/it/" id="siteLogo" aria-hidden="true"></a>
      </div>
    </div>
  </div>
</div>

<md-card class="login">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h3>Login</h3>
  </div>
  <md-card-content>
    <form #loginForm="ngForm" fxLayout="column" fxLayoutAlign="center center">
      <md-input-container>
        <input mdInput type="text" name="username" [(ngModel)]="username" required placeholder="Username">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" name="password" [(ngModel)]="password" required placeholder="Password">
      </md-input-container>
      <label class="error" *ngIf="message">{{message}}</label>
      <button md-raised-button [disabled]="!loginForm.form.valid" (click)="login()">Login</button>
    </form>
  </md-card-content>
</md-card>

