
<div class="bg">

</div>
<div>
  <div id="regionSiteLogo">
    <div class="wrapper">
      <div class="wrapperShadow">
        <div id="siteLogoPrint" aria-hidden="true">
          <img src="assets/images/jw-meeting-logo-256x256.png"></div>
        <a href="/it/" id="siteLogo" aria-hidden="true"></a>
      </div>
    </div>
  </div>
</div>

<mat-card class="login">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h3>Login</h3>
  </div>
  <mat-card-content>
    <form #loginForm="ngForm" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput type="text" name="username" [(ngModel)]="username" required placeholder="Username">
      </mat-form-field>
      <mat-form-field >
        <input matInput type="password" name="password" [(ngModel)]="password" required placeholder="Password">
      </mat-form-field>
      <label class="error" *ngIf="message">{{message}}</label>
      <button *ngIf="!loading" mat-raised-button [disabled]="!loginForm.form.valid" (click)="login()" color="primary">Login</button>
      <loader *ngIf="loading"></loader>
    </form>
  </mat-card-content>
</mat-card>

