$bluJW: #a8291f;
.bg{
  width:100%;
  height:100%;
  background :url('../../../assets/images/meeting-bis.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  opacity:0.3;
  position:absolute;
}

#regionSiteLogo{
  position:relative;

  top:50px;
  width:10%;
  margin:0 auto;
  text-align:center;
  #siteLogoPrint{
    background:$bluJW;
    position:absolute;
  }
  @media screen and (max-width:640px){
    width:30%;
    top:50px;
  }
  img{
    width:100%;
    height:100%;
  }
  h2{
    margin: 0;
    padding: 24px 0px 0 61px;
  }
}

.login{
  width: 500px;
  top:250px;
  margin: 0 auto;
  md-input-container{
    width:100%;
  }
  @media screen and (max-width:640px){
    width:90%;
    top:200px;
  }
  .error{
    color:red;
  }
}
