<mat-card class="card-table" >
    <h2>Lista Anziani di congregazione</h2>
    <mat-card-content fxLayout="column" *ngIf="!loading">
        <mat-form-field fxFlex class="search-container">
          <input matInput #search class="search" type="text" placeholder="Cerca..." [ngModel]="searchValue" (ngModelChange)="onSearch($event)"/>
        </mat-form-field>
        <div class="table-wrapper">
            <div class="table-container">

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Nome </th>
                      <td mat-cell *matCellDef="let row"> {{row.surname}} {{row.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="president">
                      <th mat-header-cell *matHeaderCellDef> Presidente </th>
                      <td mat-cell *matCellDef="let row"> <boolean-render [checked] = "row.elder.presidentEnabled"></boolean-render></td>
                    </ng-container>

                    <ng-container matColumnDef="teasure">
                      <th mat-header-cell *matHeaderCellDef> Tesori </th>
                      <td mat-cell *matCellDef="let row"> <boolean-render [checked] = "row.elder.talkEnabled"></boolean-render> </td>
                    </ng-container>

                    <ng-container matColumnDef="gems">
                      <th mat-header-cell *matHeaderCellDef> Gemme </th>
                      <td mat-cell *matCellDef="let row"> <boolean-render [checked] = "row.elder.gemsEnabled"></boolean-render></td>
                    </ng-container>

                    <ng-container matColumnDef="bibleStudy">
                      <th mat-header-cell *matHeaderCellDef> Studio biblico </th>
                      <td mat-cell *matCellDef="let row"> <boolean-render [checked] = "row.elder.bibleStudyEnabled"></boolean-render> </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> Azioni </th>
                      <td mat-cell *matCellDef="let row"> 
                        <i class="material-icons" (click)="edit(row)">mode_edit</i>
                        <i class="material-icons" (click)="delete(row)">delete</i>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator #paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>

            </div>
        </div>

        <div class="add-button" (click)="add($event)"><i class="material-icons">add</i></div>
    </mat-card-content>
    <mat-card-content *ngIf="loading">
        <loader></loader>
    </mat-card-content>

</mat-card>

