<mat-card class="card-table">
    <mat-card-content *ngIf="!loading">
        <mat-input-container fxFlex class="search-container">
            <input matInput #search class="search" type="text" placeholder="Cerca..." [ngModel]="searchValue" (ngModelChange)="onSearch($event)"/>
        </mat-input-container>
        <div class="table-wrapper">
            <div class="table-container">
                <ng2-smart-table
                        [settings]="model"
                        [source]="source"
                        (custom)="onCustom($event)">
                </ng2-smart-table>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="loading">
        <loader></loader>
    </mat-card-content>
</mat-card>
