<mat-card class="card-table" >
    <mat-card-content *ngIf="!loading">
        <mat-input-container fxFlex class="search-container">
            <input matInput #search class="search" type="text" placeholder="Cerca..." [ngModel]="searchValue" (ngModelChange)="onSearch($event)"/>
        </mat-input-container>
        <div class="table-wrapper">
            <div class="table-container">
                <ng2-smart-table
                        [settings]="model"
                        (edit)="edit($event)"
                        (delete)="delete($event)"
                        [source]="source">
                </ng2-smart-table>
            </div>
        </div>

        <div class="add-button" (click)="add($event)"><i class="material-icons">add</i></div>
    </mat-card-content>
    <mat-card-content *ngIf="loading">
        <loader></loader>
    </mat-card-content>

</mat-card>

