<md-card class="card-table">
  <md-input-container fxFlex class="search-container">
    <input mdInput #search class="search" type="text" placeholder="Cerca..." [ngModel]="searchValue" (ngModelChange)="onSearch($event)"/>
  </md-input-container>
  <div class="table-wrapper">
    <div class="table-container">
      <ng2-smart-table
        [settings]="model"
        (edit)="edit($event)"
        (delete)="delete($event)"
        [source]="source">
      </ng2-smart-table>
    </div>
  </div>

  <div class="add-button" (click)="add($event)"><i class="material-icons">add</i></div>
</md-card>
