// Override bootstrap sass variables here(above import)
// $icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
// @import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '~@angular/material/theming';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './_mixins.scss';

$bluJW: #a8291f;

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-red, 800, 400, 900);
$candy-app-accent:  mat-palette($mat-gray, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-green);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);



body{
  background: #F7F7F7;
  color: #212121;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1{
  font-size: 40px;
}

header{
  position:relative;
}

input {
  outline:none;
  border: none;
  padding: 0;
  margin: 0;
}

label{
  font-weight: normal;
}

.mat-raised-button.large{
  width:200px;
  height:50px;
  margin: 20px;
  font-size:20px;
}
.mat-icon-button.file{
  width:70px;
}
.mat-divider {
  width:100%;
}
.mat-card .mat-divider-horizontal{
  margin-top: 5px;
  position:relative !important;
}

new-student-dialog{
  mat-form-field { margin:0 10px; }
  .new-student-container > div {margin:10px 0}
  .mat-tab-body-wrapper{padding:20px;}
}
.qualityOratoryContainer{
  width:100%;
  max-width:300px;
  .qualityOratory{
    width:100%;
    max-width:300px;
  }
}

.amcharts-chart-div{
  a{
    display:none !important;
  }
}

mat-card{
  width: 100%;
  margin:10px 0;
  h2{
    padding-top: 20px;
    padding-left: 20px;
  }
}

table{
  width: 100%;
  .mat-column-actions{
    padding: 10px 0px !important;
    span{
      padding: 0 10px;
    }
    i{
      cursor: pointer;
    }
  }
}


.add-button{
  position: fixed;
  cursor:pointer;
  background: $bluJW;
  top: 150px;
  border-radius: 50%;
  width: 56px;
  right: 40px;
  height: 56px;
  color: white;
  box-shadow: 0px 7px 20px 3px rgba(0,0,0,.3);
  i{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
  }
  @media screen and (max-width:640px){
    bottom: 20px;
    right: 20px;
    top: auto;
  }
}

.new-student-container{
  max-height: 651px;
}

.card-table{
  padding:0 !important;
  .search-container{
    width: 100%;
    padding: 20px 100px 0px 50px;
    &::after{
      content: '\E8B6';
      font-family: 'Material Icons';
      position: absolute;
      left: 20px;
      top: 37px;
      font-size: 22px;
    }
  }

}

.brother-autocomplete{
  width:400px;
  @media screen and (max-width:640px){
    width:100%;
  }
}

mat-option{
  &.busy{
    color:red !important;
  }
  &.elder{
    color:blue;
  }
}

.error{
  color:red !important;
}

.weekConfigContainer mat-card-content{
  min-width:100%;
}
.weekConfigContainer{
  .mat-icon-button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    i{
      font-size: 18px;
    }
  }
}
.meetingWorkbook{
  h3{
    width:100%;
    text-align:center;
    color:white;
    font-weight: 200;
    padding: 5px 0;
    margin: 0 0 10px 0 ;
  }
  .treasures{
    h3{
      background-color:$treasuresColor;
    }
  }
  .effective{
    h3{
      background-color:$effectiveColor;
    }
  }
  .living{
    h3{
      background-color:$christianLifeColor;
    }
  }
}

.separator{
  width:100%;
  margin:0 auto;
  background-color: rgba(0,0,0,.2);
  height:1px;
}

