<md-card class="card-table">
    <md-card-content *ngIf="!loading">
        <md-input-container fxFlex class="search-container">
            <input mdInput class="search" type="text" placeholder="Cerca..." [ngModel]="searchValue" (ngModelChange)="onSearch($event)"/>
        </md-input-container>
        <div class="table-wrapper">
            <div class="table-container">
                <ng2-smart-table
                        [settings]="model"
                        (edit)="edit($event)"
                        (delete)="delete($event)"
                        [source]="source"
                        (userRowSelect)="show($event)">
                </ng2-smart-table>
            </div>
        </div>
        <div class="add-button" (click)="add($event)"><i class="material-icons">add</i></div>
    </md-card-content>
    <md-card-content *ngIf="loading">
        <loader></loader>
    </md-card-content>

</md-card>
