<md-card class="weekConfigContainer" fxLayout="column"  fxLayoutAlign="start start">
  <md-card-header fxLayout="row" fxLayoutAlign="start start">
    <md-card-title>
      <span>{{week.date.format('dddd D MMMM YYYY')}} - {{week.type.label}}</span>
      <h3  class="flex-item" *ngIf="week.supervisor">Visita del sorvegliante</h3>
    </md-card-title>
  </md-card-header>
  <md-card-content class="width100" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div class="weekPreview" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" *ngIf="week.type.meeting && !week.supervisor" >
      <div fxFlex="100%" width="100%" fxLayout="row" fxLayoutAlign="center center"  >
        <div class="meetingWorkbook flex-item" fxFlex="100%" fxFlex fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" fxLayoutAlign="center center">
            <div class="{{edit ? checkBusyWeek(week, week.president, null, null, 'president') : ''}}" fxFlex="50%" ><strong>Presidente</strong>: {{week.president.name}} {{week.president.surname}}
              <i *ngIf="edit" class="material-icons" (click)="change(week, week.president, null, 'president')">mode_edit</i></div>
            <div class="flex-item" fxFlex="50%"><span [innerHTML]="week.initialSong | safeHtml"></span> iniziale:
              <span class="{{edit ? checkBusyWeek(week, week.initialPrayer, null, null, 'initialPrayer') : ''}}">{{week.initialPrayer.name}} {{week.initialPrayer.surname}} <i *ngIf="edit" class="material-icons" (click)="change(week, week.initialPrayer, null, 'initialPrayer')">mode_edit</i></span>
            </div>
          </div>
          <div class="treasures" fxLayout="column" fxFlex="100%" fxLayoutGap="10px">
            <h3 >TESORI DELLA PAROLA DI DIO</h3>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div fxFlex="50%" [innerHTML]="week.talk.label | safeHtml"></div>
              <div fxFlex="25%" fxLayoutAlign="center center"class="{{edit ? checkBusyWeek(week, week.talk, 'brother') : ''}}" >
                {{week.talk.brother.name}} {{week.talk.brother.surname}}
                <i *ngIf="edit" class="material-icons" (click)="change(week, week.talk, 'brother', 'talk')">mode_edit</i>
              </div>
              <div fxHide.xs fxHide.sm fxFlex="25%" fxLayoutAlign="center center" ></div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div fxFlex="50%" [innerHTML]="week.gems.label | safeHtml"></div>
              <div fxFlex="25%" fxLayoutAlign="center center" class="{{edit ? checkBusyWeek(week, week.gems, 'brother') : ''}}" >
                {{week.gems.brother.name}} {{week.gems.brother.surname}}
                <i *ngIf="edit" class="material-icons" (click)="change(week, week.gems, 'brother', 'gems')">mode_edit</i>
              </div>
              <div fxHide.xs fxHide.sm fxFlex="25%" fxLayoutAlign="center center" ></div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" fxLayoutGap="5px" fxLayoutAlign="center center">
              <div fxFlex="50%" [innerHTML]="week.bibleReading.label | safeHtml"></div>
              <div fxFlex="25%" fxLayout="row" fxLayoutAlign="center center" class="{{edit ? checkBusyWeek(week, week.bibleReading.primarySchool, 'student', true) : ''}}">
                <span fxFlex fxHide.gt-sm fxLayoutAlign="center center">Prima scuola</span>
                <span fxFlex fxLayout="row" fxLayoutAlign="center center">
                  <div fxFlex fxLayoutAlign="center center">
                      <span *ngIf="week.bibleReading.primarySchool.student">
                          {{week.bibleReading.primarySchool.student.name}} {{week.bibleReading.primarySchool.student.surname}}&nbsp;
                      </span>
                      <span *ngIf="!week.bibleReading.primarySchool.student">
                        *** Non trovato ***
                      </span>
                      <i *ngIf="edit" class="material-icons" (click)="change(week, week.bibleReading, 'student', 'bibleReading', 'primarySchool')">mode_edit</i>
                  </div>
                </span>
              </div>
              <div fxFlex="25%" fxLayout="row" fxLayoutAlign="center center" class="{{edit ? checkBusyWeek(week, week.bibleReading.secondarySchool, 'student', true) : ''}}">
                  <span fxFlex *ngIf="week.secondarySchool" fxHide.gt-sm fxLayoutAlign="center center">Seconda scuola</span>
                  <span fxFlex fxLayout="row" *ngIf="week.secondarySchool" fxLayoutAlign="center center">
                    <div fxFlex fxLayoutAlign="center center">
                        <span *ngIf="week.bibleReading.secondarySchool.student">
                            {{week.bibleReading.secondarySchool.student.name}} {{week.bibleReading.secondarySchool.student.surname}}&nbsp;
                        </span>
                        <span *ngIf="!week.bibleReading.secondarySchool.student">
                          *** Non trovato ***
                        </span>

                      <i *ngIf="edit" class="material-icons" (click)="change(week, week.bibleReading, 'student', 'bibleReading', 'secondarySchool')">mode_edit</i>
                    </div>
                  </span>
              </div>
            </div>
          </div>
          <div class="effective" fxLayout="column" fxFlex="100%" fxLayoutGap="10px">
            <h3>EFFICACI NEL MINISTERO</h3>
            <div fxLayout="column" fxFlex="100%" fxLayoutGap="10px">
              <div *ngFor="let part of week.ministryPart" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" fxFlex="100%" fxLayoutAlign="center center" >
                <div fxFlex="50%" class="descriptionPart" [innerHTML]="part.html | safeHtml"></div>
                <div fxFlex="25%" fxLayout="row" fxLayoutAlign="center center" >
                  <span fxFlex fxHide.gt-sm *ngIf="part.forStudent">Prima scuola</span>
                  <div fxFlex  fxLayout="column" fxlayoutAlign="center center" *ngIf="part.forStudent">
                    <div fxFlex class="{{edit ? checkBusyWeek(week, part['primarySchool'], 'student', true) : ''}}">
                      <span *ngIf="part.primarySchool.student">
                        {{part.primarySchool.student.name}} {{part.primarySchool.student.surname}}
                      </span>
                      <span *ngIf="!part.primarySchool.student">
                        *** Non trovato ***
                      </span>


                      <i *ngIf="edit" class="material-icons" (click)="change(week, part, 'student', 'ministryPart', 'primarySchool')">mode_edit</i>
                    </div>

                    <div fxFlex class="assistant {{edit ? checkBusyWeek(week, part['primarySchool'], 'assistant', true) : ''}}"  *ngIf="!part.isTalk">
                      <span *ngIf="part.primarySchool.assistant">
                        Ass.: {{part.primarySchool.assistant.name}} {{part.primarySchool.assistant.surname}}
                      </span>
                      <span *ngIf="!part.primarySchool.assistant">
                        Ass.: *** Non trovato ***
                      </span>
                      <i *ngIf="edit" class="material-icons" (click)="change(week, part, 'assistant', 'ministryPart', 'primarySchool')">mode_edit</i>
                    </div>

                  </div>

                </div>
                <div fxFlex="25%" fxLayout="row" fxLayoutAlign="center center"  >
                  <span fxFlex *ngIf="week.secondarySchool && part.forStudent" fxHide.gt-sm>Seconda scuola</span>
                  <div fxFlex *ngIf="week.secondarySchool && part.forStudent" fxLayout="column" fxLayoutAlign="center center"  >
                    <div fxFlex class="{{edit ? checkBusyWeek(week, part['secondarySchool'], 'student', true) : ''}}">
                        <span *ngIf="part.secondarySchool.student">
                          {{part.secondarySchool.student.name}} {{part.secondarySchool.student.surname}}
                        </span>
                        <span *ngIf="!part.secondarySchool.student">
                          *** Non trovato ***
                        </span>

                      <i *ngIf="edit" class="material-icons" (click)="change(week, part, 'student', 'ministryPart', 'secondarySchool')">mode_edit</i>
                    </div>

                    <div fxFlex class="assistant {{edit ? checkBusyWeek(week, part['secondarySchool'], 'assistant', true) : ''}} {{edit ? checkBusyWeek(week, part['secondarySchool'], 'assistant', true) : ''}}" *ngIf="week.secondarySchool && !part.isTalk" >
                      <span *ngIf="part.secondarySchool.assistant">
                        Ass.: {{part.secondarySchool.assistant.name}} {{part.secondarySchool.assistant.surname}}
                      </span>
                      <span *ngIf="!part.secondarySchool.assistant">
                        Ass.: *** Non trovato ***
                      </span>
                      <i *ngIf="edit" class="material-icons" (click)="change(week, part, 'assistant', 'ministryPart', 'secondarySchool')">mode_edit</i>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="living" fxLayout="column" fxFlex="100%" fxLayoutGap="10px">
            <h3 >VITA CRISTIANA</h3>
            <div class="descriptionPart" [innerHTML]="week.intervalSong | safeHtml"></div>
            <div *ngFor="let part of week.christianLivingPart" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutGap="10px" fxFlex="100%" fxLayoutAlign="center center">
              <div class="flex-item" fxFlex="50%" [innerHTML]="part.label | safeHtml"></div>
              <div fxFlex="25%" fxLayout="column">
                {{part.brother.name}} {{part.brother.surname}}
              </div>
              <div fxFlex="25%" fxLayout="column"></div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" fxFlex="100%" fxLayoutAlign="center center">
              <div class="flex-item" fxFlex="50%" [innerHTML]="week.congregationBibleStudy.label | safeHtml"></div>
              <div fxFlex="25%" fxLayout="column" class="{{edit ? checkBusyWeek(week, week.congregationBibleStudy, 'brother') : ''}}">
                <strong>Conduttore:</strong>
                <span>{{week.congregationBibleStudy.brother.name}} {{week.congregationBibleStudy.brother.surname}} <i *ngIf="edit" class="material-icons" (click)="change(week, week.congregationBibleStudy, 'brother', 'congregationBibleStudy')">mode_edit</i></span>
              </div>
              <div fxFlex="25%" fxLayout="column" class="{{edit ? checkBusyWeek(week, week.congregationBibleStudy, 'reader') : ''}}">
                <strong>Lettore:</strong>
                <span>{{week.congregationBibleStudy.reader.name}} {{week.congregationBibleStudy.reader.surname}} <i *ngIf="edit" class="material-icons" (click)="change(week, week.congregationBibleStudy, 'reader', 'congregationBibleStudy')">mode_edit</i></span>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" fxLayoutAlign="center center">
            <div fxFlex="50%"></div>
            <div fxFlex="50%"><span [innerHTML]="week.finalSong | safeHtml"></span> finale:
              <span class="{{edit ? checkBusyWeek(week, week.finalPrayer, null, null, 'finalPrayer') : ''}}">{{week.finalPrayer.name}} {{week.finalPrayer.surname}}<i *ngIf="edit" class="material-icons" (click)="change(week, week.finalPrayer, null, 'finalPrayer')">mode_edit</i></span>
            </div>
          </div>


        </div>
      </div>

    </div>
  </md-card-content>
</md-card>
