<md-card *ngIf="!week.completed" class="updatePointCard">
  <md-card-header *ngIf="fromHome">
    <div fxLayout="row">
      <h3>AGGIORNAMENTO PARTI</h3>
    </div>
  </md-card-header>
  <md-card-content fxLayout="column" fxFlex="100%" fxLayoutAlign="start center">
    <div class="containerSchoolPart" fxLayout="column"  fxLayoutGap="10px">
      <div class="containerSchoolPart" *ngFor="let part of week.ministryPart; let i = index;" fxLayout="column"  fxLayout.xs="column" fxLayoutAlign="start center">
          <div fxLayout="row" ><h4 [innerHTML]="part.html.split(':')[0] | safeHtml"></h4></div>
          <div fxLayout="row"  *ngIf="!part.forStudent">
              Parte non svolta dagli studenti
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="containerSchoolPart" *ngIf="part.forStudent">

            <div class="containerSchoolPart" *ngFor="let school of SCHOOLS" fxLayout="column" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="start center" >
                  <div *ngIf="!part[school].student.student" fxLayout="column" fxLayoutGap="5px" class="notUpdated">
                    <strong fxFlex>
                      <span *ngIf="school==CONST.PRIMARY_SCHOOL">Prima</span>
                      <span *ngIf="school==CONST.SECONDARY_SCHOOL">Seconda</span>
                      scuola: {{part[school].student.name}} {{part[school].student.surname}}
                    </strong>
                    <div fxFlex >
                      La parte è stata assegnata ad un anziano. Non necessita quindi di aggiornamento.
                    </div>
                  </div>

                    <div *ngIf="!part[school].updated && part[school].student.student" fxLayout="column" fxLayoutGap="5px" class="notUpdated">
                      <strong fxFlex>
                        <span *ngIf="school==CONST.PRIMARY_SCHOOL">Prima</span>
                        <span *ngIf="school==CONST.SECONDARY_SCHOOL">Seconda</span>
                        scuola: {{part[school].student.name}} {{part[school].student.surname}}</strong>
                      <md-radio-group  name="{{week.date.toString()}}{{i}}{{school}}Result" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px" [(ngModel)]="part[school].made">
                        <md-radio-button [value]="0">Non aggiornare</md-radio-button>
                        <md-radio-button [value]="1">Svolto</md-radio-button>
                        <md-radio-button [value]="2">Non svolto</md-radio-button>
                      </md-radio-group>
                    </div>
                    <div *ngIf="part[school].updated" fxLayout="column" fxLayoutGap="10px" class="updated">
                        <strong><i class="material-icons">check_circle</i>Prima scuola: {{part[school].student.name}} {{part[school].student.surname}}</strong>
                        <span *ngIf="part[school].made==1">Svolto </span>
                        <span *ngIf="part[school].made==2">Non svolto </span>
                    </div>


            </div>
        </div>

      </div>
    </div>
    <button *ngIf="!loading" md-raised-button (click)="confirm()">Conferma</button>
    <loader *ngIf="loading"></loader>
  </md-card-content>
</md-card>
<md-card *ngIf="week.completed" class="updatePointCard">
  <md-card-content fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
    Adunanza della settimana corrente completata
  </md-card-content>
</md-card>
