#chart {
  width: 100%;
  height: 350px;
}

#chartByMonth {
  width: 100%;
  height: 350px;
}
#chartByYear {
  width: 100%;
  height: 350px;
}

md-select{
  margin-top:40px;
}

.headerChartByBrother{
  text-align:center;
}
