

<md-card>
  <md-card-content>
    <div id="chart"></div>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <md-select [(ngModel)]="selectedYear" (ngModelChange)="buildChartByYear();" placeholder="Seleziona anno">
        <md-option [value]="year" *ngFor="let year of years">{{year}}</md-option>
      </md-select>
    </div>
      <div id="chartByYear"></div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <md-select [(ngModel)]="selectedMonth" (ngModelChange)="buildChartByMonth()" placeholder="Seleziona mese">
        <md-option *ngFor="let month of months;let i=index" [value]="i">{{month}}</md-option>
      </md-select>
    </div>
    <div id="chartByMonth"></div>
  </md-card-content>
</md-card>

<md-card>
  <md-card-header><h2>Andamento parti per fratello</h2></md-card-header>
  <md-card-content>
    <div width="100%" fxFlexFill fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
      <div width="100%" fxFlexFill fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center" class="headerChartByBrother">
        <div fxFlex="30%" ><h4>Nome e cognome</h4></div>
        <div fxFlex="10%" fxLayout="row" fxLayoutAlign="center center"><h4>Totale</h4></div>
        <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center"><h4>Svolto <br>(qualità oratoria superata)</h4></div>
        <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center"><h4>Svolto <br>(qualità oratoria non superata)</h4></div>
        <div fxFlex="20%"fxLayout="row" fxLayoutAlign="center center"><h4>Non svolto</h4></div>
      </div>
      <div width="100%" fxFlexFill fxLayoutGap="15px" *ngFor="let obj of chartByBrother | keys" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30%">{{obj.v.surname}} {{obj.v.name}}</div>
        <div fxFlex="10%" fxLayout="row" fxLayoutAlign="center center">{{obj.v.total}}</div>
        <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">

          <div fxFlexFill *ngIf="obj.v.total != 0" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center">
            <md-progress-bar
              fxFlex="70%"
              mode="determinate"
              color="warn"
              value="{{(100/obj.v.total) * obj.v.made}}">
            </md-progress-bar>
            <div fxFlex="30%" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center">
              {{obj.v.made}}
              <span *ngIf="obj.v.made != 0">({{(100/obj.v.total) * obj.v.made}}%)</span>
              <span *ngIf="obj.v.made == 0">(0%)</span>
            </div>
          </div>
        </div>
        <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center" >
          <div fxFlexFill *ngIf="obj.v.total != 0" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center">
            <md-progress-bar
              fxFlex="70%"
              color="accent"
              mode="determinate"
              value="{{(100/obj.v.total) * obj.v.madeWithoutPoint}}">
            </md-progress-bar>
            <div fxFlex="30%" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center">
              {{obj.v.madeWithoutPoint}}
              <span *ngIf="obj.v.madeWithoutPoint != 0">({{(100/obj.v.total) * obj.v.madeWithoutPoint}}%)</span>
              <span *ngIf="obj.v.madeWithoutPoint == 0">(0%)</span>
            </div>
          </div>
        </div>
        <div fxFlex="20%"  fxLayout="row" fxLayoutAlign="center center">
          <div fxFlexFill *ngIf="obj.v.total != 0" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center">
            <md-progress-bar
              fxFlex="70%"
              mode="determinate"
              value="{{(100/obj.v.total) * obj.v.notMade}}">
            </md-progress-bar>
            <div fxFlex="30%" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center">
              {{obj.v.notMade}}
              <span *ngIf="obj.v.notMade != 0">({{(100/obj.v.total) * obj.v.notMade}}%)</span>
              <span *ngIf="obj.v.notMade == 0">(0%)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
