
<div class="flex-container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start" class="previewHeader">
    <div (click)="backToConfig()">
      <button mat-icon-button (click)="backToConfig()">
        <i class="material-icons">arrow_back</i>
      </button>
      Torna alla configurazione
    </div>
    <h3>Anteprima adunanza</h3>
  </div>
  <div *ngIf="!loading">
    <week class="weekConfigContainer" *ngFor="let week of weeks; let i = index" [edit]="true" [week] = "week" [weeks] = "weeks" [busyErrorBrother] = "busyErrorBrother" (onChange)="change($event)" ></week>
  </div>

  <!--<mat-card class="weekConfigContainer" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start" *ngFor="let week of weeks; let i = index" >-->
    <!--<mat-card-header fxLayout="row" fxLayoutAlign="start start">-->
      <!--<mat-card-title>-->
        <!--<span>{{week.date.format('dddd D MMMM YYYY')}} - {{week.type.label}}</span>-->
        <!--<span  class="flex-item" *ngIf="week.supervisor">Visita del sorvegliante</span>-->
      <!--</mat-card-title>-->
    <!--</mat-card-header>-->
    <!--<mat-card-content fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" *ngIf="!loading">-->
      <!--<div class="weekPreview" fxFlex="100%" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" *ngIf="week.type.meeting" >-->
        <!--<div fxFlex="100%" width="100%" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" >-->
          <!--<div class="meetingWorkbook flex-item" fxFlex="100%" fxFlex fxLayout="column" fxLayoutGap="15px">-->
            <!--<div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">-->
              <!--<div class="flex-item" fxFlex="50%"><strong>Presidente</strong>: {{week.president.name}} {{week.president.surname}} </div>-->
              <!--<div class="flex-item" fxFlex="50%"><strong>Preghiera iniziale</strong>: {{week.initialPrayer.name}} {{week.initialPrayer.surname}}</div>-->
            <!--</div>-->
            <!--<div class="treasures" fxLayout="column" fxFlex="100%" fxLayoutGap="10px">-->
              <!--<h3 >TESORI DELLA PAROLA DI DIO</h3>-->
              <!--<div fxLayout="row" fxFlex="100%" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">-->
                <!--<div fxFlex="50%" [innerHTML]="week.talk.label | safeHtml"></div>-->
                <!--<div fxFlex="25%" fxLayoutAlign="center center" >-->
                  <!--{{week.talk.brother.name}} {{week.talk.brother.surname}}-->
                  <!--<i class="material-icons" (click)="change(week, 'talk', null, 'brother')">mode_edit</i>-->
                <!--</div>-->
                <!--<div fxFlex="25%" fxLayoutAlign="center center" ></div>-->
              <!--</div>-->
              <!--<div fxLayout="row" fxFlex="100%" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">-->
                <!--<div fxFlex="50%" [innerHTML]="week.gems.label | safeHtml"></div>-->
                <!--<div fxFlex="25%" fxLayoutAlign="center center"  >-->
                  <!--{{week.gems.brother.name}} {{week.gems.brother.surname}}-->
                  <!--<i class="material-icons" (click)="change(week, 'gems', null, 'brother')">mode_edit</i>-->
                <!--</div>-->
                <!--<div fxFlex="25%" fxLayoutAlign="center center" ></div>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">&ndash;&gt;-->
                <!--&lt;!&ndash;<span fxFlex="50%"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span fxFlex="25%" *ngIf="week.primarySchool"><strong>Prima scuola</strong></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span fxFlex="25%" *ngIf="week.secondarySchool"><strong>Seconda scuola</strong></span>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--<div fxLayout="row" fxFlex="100%" fxLayoutGap="5px" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">-->
                <!--<div fxFlex="50%" [innerHTML]="week.bibleReading.label | safeHtml"></div>-->
                <!--<div fxFlex="25%" fxLayoutAlign="center center" >-->
                  <!--{{week.bibleReading.primarySchool.student.name}} {{week.bibleReading.primarySchool.student.surname}} {{week.bibleReading.primarySchool.student.student.bibleReadingStudyNumber.number}}-->
                  <!--<i class="material-icons" (click)="change(week, 'bibleReading', 'primarySchool', 'student')">mode_edit</i>-->
                <!--</div>-->
                <!--<div fxFlex="25%" fxLayoutAlign="center center" >-->
                  <!--<span *ngIf="week.secondarySchool">-->
                    <!--{{week.bibleReading.secondarySchool.student.name}} {{week.bibleReading.secondarySchool.student.surname}} {{week.bibleReading.secondarySchool.student.student.bibleReadingStudyNumber.number}}-->
                    <!--<i class="material-icons" (click)="change(week, 'bibleReading', 'secondarySchool', 'student')">mode_edit</i>-->
                  <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="effective" fxLayout="column" fxFlex="100%" fxLayoutGap="10px">-->
              <!--<h3>EFFICACI NEL MINISTERO</h3>-->
              <!--<div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center" fxLayoutAlign.xs="start" *ngIf="week.presentationExercise.enabled">-->
                <!--<div fxFlex="50%" class="descriptionPart" [innerHTML]="week.presentationExercise.label | safeHtml"></div>-->
                <!--<div fxFlex="25%" >{{week.presentationExercise.brother.name}} {{week.presentationExercise.brother.surname}} </div>-->
                <!--<div fxFlex="25%" ></div>-->
              <!--</div>-->
              <!--<div *ngIf="!week.presentationExercise.enabled" fxLayout="column" fxFlex="100%" fxLayoutGap="10px">-->
                <!--<div *ngFor="let partType of PART_TYPE" fxLayout="row" fxLayoutGap="10px" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" >-->
                  <!--<div fxFlex="50%" class="descriptionPart" [innerHTML]="week[partType].label | safeHtml"></div>-->
                  <!--<div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center" >-->
                    <!--<div>-->
                      <!--{{week[partType].primarySchool.student.name}} {{week[partType].primarySchool.student.surname}} {{week[partType].primarySchool.student.student.studyNumber.number}}-->
                      <!--<i class="material-icons" (click)="change(week, partType, 'primarySchool', 'student')">mode_edit</i>-->
                    <!--</div>-->
                    <!--<div class="assistant" *ngIf="!week[partType].primarySchool.isTalk">-->
                      <!--Ass.: {{week[partType].primarySchool.assistant.name}} {{week[partType].primarySchool.assistant.surname}}-->
                      <!--<i class="material-icons" (click)="change(week, partType, 'primarySchool', 'assistant')">mode_edit</i>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div fxFlex="25%" fxLayout="column" fxLayoutAlign="center center"  >-->
                    <!--<div *ngIf="week.secondarySchool">-->
                      <!--{{week[partType].secondarySchool.student.name}} {{week[partType].secondarySchool.student.surname}} {{week[partType].secondarySchool.student.student.studyNumber.number}}-->
                      <!--<i class="material-icons" (click)="change(week, partType, 'secondarySchool', 'student')">mode_edit</i>-->
                    <!--</div>-->
                    <!--<div class="assistant" *ngIf="week.secondarySchool && !week[partType].primarySchool.isTalk">-->
                      <!--Ass.: {{week[partType].secondarySchool.assistant.name}} {{week[partType].secondarySchool.assistant.surname}}-->
                      <!--<i class="material-icons" (click)="change(week, partType, 'secondarySchool', 'assistant')">mode_edit</i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">-->
              <!--<div fxFlex="50%"></div>-->
              <!--<div fxFlex="50%"><strong>Preghiera finale</strong>: {{week.finalPrayer.name}} {{week.finalPrayer.surname}}</div>-->
            <!--</div>-->


          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->
  <button *ngIf="!loadingInsertPgm" mat-raised-button [disabled]="busyErrorBrother.length != 0" (click)="confirm()" color="primary" class="large">Conferma</button>
  <loader *ngIf="loadingInsertPgm"></loader>
</div>

<div class="changeBrother {{changeMode.class}}" *ngIf="changeMode.enabled"  fxLayout="row" fxFlex="100%" fxLayoutGap="20px">
  <div fxFlex="40%" fxLayout="column" >
    <div>Stai modificando:</div>
    <div>{{changeMode.brotherToChange.name}} {{changeMode.brotherToChange.surname}}</div>
    <div>{{changeMode.week.date.format('dddd D MMMM YYYY')}}</div>
    <div *ngIf="changeMode.partType == 'president'">Presidente</div>
    <div *ngIf="changeMode.partType == 'initialPrayer'">Preghiera iniziale</div>
    <div *ngIf="changeMode.partType == 'finalPrayer'">Preghiera finale</div>
    <div *ngIf="changeMode.partType == 'congregationBibleStudy' && changeMode.partBrother == 'reader'">Lettore studio biblico</div>
    <div *ngIf="changeMode.partType == 'congregationBibleStudy' && changeMode.partBrother == 'brother'">Conduttore studio biblico</div>
    <div *ngIf="changeMode.part.html"><span [innerHTML]="changeMode.part.html | safeHtml"></span></div>
    <div *ngIf="changeMode.part.label"><span [innerHTML]="changeMode.part.label | safeHtml"></span></div>
  </div>
  <div fxFlex="40%" fxLayout="column" >
    <div>Nuovo fratello per la parte:</div>
    <div>
      <mat-form-field fxFlex="100%" class="brother-change-autocomplete">
        <input type="text" matInput [matAutocomplete]="auto" (ngModelChange)="filterBrother($event)" [(ngModel)]="changeMode.newBrother" [value]="getValue(changeMode.newBrother)" name="brotherToChange" placeholder="Seleziona fratello">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete"  name="brotherChangeAutocomplete" placeholder="Seleziona fratello">
        <mat-option *ngFor="let b of changeMode.listFiltered" [ngClass]="{'elder':b.elder}" [value]="b" (onSelectionChange)="changeMode.busyError = false">
          {{b.surname}} {{b.name}}
          <span *ngIf="b.elder && b.elder[changeMode.dateParam]"> - {{b.elder[changeMode.dateParam].format('DD-MM-YYYY')}}</span>
          <span *ngIf="b.reader && b.reader[changeMode.dateParam]"> - {{b.reader[changeMode.dateParam].format('DD-MM-YYYY')}}</span>
          <span *ngIf="b.prayer && b.prayer[changeMode.dateParam]"> - {{b.prayer[changeMode.dateParam].format('DD-MM-YYYY')}}</span>
          <span *ngIf="b.servant && b.servant[changeMode.dateParam]"> - {{b.servant[changeMode.dateParam].format('DD-MM-YYYY')}}</span>
          <span *ngIf="b.student && b.student[changeMode.dateParam]"> - {{b.student[changeMode.dateParam].format('DD-MM-YYYY')}}</span>
        </mat-option>
        <!--<mat-option class="elder" (onSelectionChange)="changeMode.busyError = false" *ngFor="let b of elderListFiltered" [style.display]="(changeMode.partType != 'gems' && changeMode.partType != 'talk' && changeMode.partType != 'bibleReading' ? 'block':'none')" [value]="b">-->
          <!--{{b.surname}} {{b.name}}-->
        <!--</mat-option>-->
        <mat-option (onSelectionChange)="changeMode.busyError = true" class="busy" *ngFor="let b of changeMode.busyListFiltered" [value]="b">
          {{b.surname}} {{b.name}} - Occupato
        </mat-option>

      </mat-autocomplete>
      <span class="error" *ngIf="changeMode.busyError">
        Attenzione è stato scelto un fratello già impegnato in un'altra parte in questo programma
      </span>
    </div>
  </div>
  <div fxFlex="20%" fxLayout="column" fxlayoutGap="30px">
    <button mat-raised-button color="primary" (click)="confirmChange()">Conferma</button>
    <button mat-raised-button (click)="disableChangeMode()">Annulla</button>
  </div>



</div>
