.weekConfigContainer {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  md-card-title  {
    span{
      font-size: 20px;
      text-transform: uppercase;
      font-weight:bold;
    }
    md-checkbox{
      margin-left:50px;
    }
  }
  .weekConfig{
    width:100%;
    div{
      width:100%;
    }
    .meetingWorkbook{
      margin-top:20px;
      //>div{
      //  border-bottom:1px solid rgba(0, 0, 0, .5);
      //  padding:5px 0;
      //}
    }
  }
}
