<form #configForm="ngForm">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <!--<span fxFlex>Scegli il numero di settimane per il programma:</span>-->
    <!--<mat-select fxFlex placeholder="Settimane" [(ngModel)]="weekNumber" (ngModelChange)="newArray($event)" name="weekNumber">-->
      <!--<mat-option [value]="4">4 settimane</mat-option>-->
      <!--<mat-option [value]="5">5 settimane</mat-option>-->
    <!--</mat-select>-->
    <h3>Configurazione programma</h3>
    <mat-form-field>
      <mat-select fxFlex fxLayoutGap="20px" placeholder="Seleziona mese" [(ngModel)]="month" (ngModelChange)="findWeeks($event)" name="month">
        <mat-option *ngFor="let m of arrMonths" [value]="m" >{{m.month}} {{m.year}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <loader *ngIf="loadingMeetingWorkbooks"></loader>

  <div class="flex-container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" *ngIf="weeks.length>0 && !loadingMeetingWorkbooks">

    <mat-card *ngFor="let week of weeks; let i = index" class="weekConfigContainer" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start"  >
      <mat-card-header fxLayout="row" fxLayoutAlign="start start">
        <mat-card-title>
          <span>{{week.date.format('dddd D MMMM YYYY')}}</span>
          <mat-checkbox color="primary" name="supervisor{{i}}"  [(ngModel)]="week.supervisor" (ngModelChange)="changeDate(week)">Visita del sorvegliante</mat-checkbox>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" *ngIf="!week.supervisor">
        <mat-radio-group color="primary" name="weekType{{i}}" class="radio-group" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutGap="10px" [(ngModel)]="week.type">
          <mat-radio-button *ngFor="let keys of weekType | keys" [value]="keys.v" [hidden]="week.supervisor && !keys.v.withSupervisor">{{keys.v.label}}</mat-radio-button>
        </mat-radio-group>

        <div class="weekConfig" fxLayout="column" fxLayoutAlign="center center" *ngIf="week.type.meeting " fxFlexFill>
          <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
            <div class="meetingWorkbook" fxFlex="100%" fxLayout="column" fxFlexFill>
              <div class="living" fxLayout="column" fxLayoutGap="10px" fxFlexFill>
                <h3 >VITA CRISTIANA</h3>
                <div *ngFor="let part of week.christianLivingPart; let j = index" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
                  <div fxFlex="50%" [innerHTML]="part.label | safeHtml"></div>
                  <div fxFlex="25%" fxLayout="column">
                    <mat-checkbox color="primary" name="christianLivingPart{{i}}{{j}}-president" [(ngModel)]="part.president" fxFlex="25%">Fatta dal presidente</mat-checkbox>
                    <div *ngIf="!part.president">
                      <mat-form-field fxFlex class="brother-autocomplete" >
                        <input name="christianLivingPart{{i}}{{j}}" type="text" matInput [matAutocomplete]="auto" [(ngModel)]="part.brother" (ngModelChange)="filterBrother($event)" [value]="(part.brother && part.brother.name && part.brother.surname ? part.brother.name + ' '+part.brother.surname: '')" name="brother" placeholder="Seleziona fratello" required>
                      </mat-form-field>
                      <mat-autocomplete  #auto="matAutocomplete" name="brotherAutocomplete" placeholder="Seleziona fratello">
                        <mat-option *ngFor="let b of christianLivingPartBrotherFiltered" [value]="b" (onSelectionChange)="resetFilter()">
                          {{b.surname}} {{b.name}}
                          <span *ngIf="b.servant && b.servant.christianLivingPartDate"> - {{b.servant.christianLivingPartDate.format('DD/MM/YY')}}</span>
                          <span *ngIf="b.elder && b.elder.christianLivingPartDate"> - {{b.elder.christianLivingPartDate.format('DD/MM/YY')}}</span>

                        </mat-option>
                      </mat-autocomplete>
                    </div>
                  </div>
                  <div fxFlex="25%" fxLayout="column"></div>
                </div>
              </div>

            </div>
          </div>



        </div>
      </mat-card-content>
    </mat-card>
    <button type="button" mat-raised-button [disabled]="!configForm.form.valid" (click)="confirm()">Conferma</button>
  </div>
</form>
